@page "{userId}"
@model Omada.Pages.ManageUser.DeleteUserModel
@{
    ViewData["Title"] = "DeleteUser";
}

<div style="margin: auto; text-align: center">

    <div style="padding: 10px;">
        Are you sure to delete @Model.DeletedUser.UserName ?
    </div>

    <form method="post">
        <button type="submit" class="btn btn-dark">Yes!</button>
        <a asp-page="../UsersList" class="btn btn-dark">Cancel</a>
    </form>
</div>

