@page "{userId}/{teamId}"
@model Omada.Pages.AddUserToTeamLeaderModel
@{
    ViewData["Title"] = "AddUserToGroup";
}

<h1>AddUserToGroup</h1>

<div class="alert alert-danger">
    Are you sure to Add @Model.AddedUser.Email to @Model.AddedTeam.Name?
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="./UsersList" class="btn btn-danger">Cancel</a>
</form>

