@page "{teamId}"
@model Omada.Pages.DeleteTeamModel
@{
    ViewData["Title"] = "DeleteTeam";
}

<div class="ąlert alert-dark">
    Are you sure to delete @Model.Team.Name ?
</div>

<form method="post">
    <button type="submit" class="btn btn-dark">Yes!</button>
    <a asp-page="./TeamsList" class="btn btn-dark">Cancel</a>
</form>
