@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Is your team happy? We believe so, but let's make sure!</p>
    <p>Take this short survey!</p>
    <a asp-area="" asp-page="./StartSurvey">Survey</a>
</div>
