@page
@{
    ViewData["Title"] = "NotFound";
}

<div style="margin: auto; width: 60%;">
    <h1>Not Found</h1>
    <p>Unfortunately, page you are looking for does not exist.</p>
    <a asp-page="./Index">Return to the main page</a>
</div>
