@page
@model Omada.Pages.Shared.StartSurveyModel
@{
    ViewData["Title"] = "StartSurvey";
}

<div class="container">
    <h1>Do you want to start servey?</h1>
    <a class="btn btn-dark" asp-area="" asp-page="/Survey">Yes</a>
</div>