@page
@model Omada.Pages.UsersListModel
@{
    ViewData["Title"] = "UsersList";
}

<table class="table table-light">
    @foreach (var user in Model.Users)
    {
    <tr>
        <td>@user.Email</td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                <a class="btn btn-dark"
                   asp-page="./ManageUser/DeleteUser" asp-route-userId="@user.Id">
                    Delete
                </a>
            </td>
            <td>
                <a class="btn btn-dark"
                   asp-page="./AddUserToTeam" asp-route-userId="@user.Id">
                    Add User To Team
                </a>
            </td>
        }
        else if (this.User.IsInRole("Team Leader"))
        {
            <td>
                <a class="btn btn-dark"
                   asp-page="./AddUserToTeam" asp-route-userId="@user.Id">
                    Add User To Team
                </a>
            </td>
        }
    </tr>
    }
</table>

